/*******************/
/* MoreTags 0.0.4  */
/* CSS Framework   */
/* (c)2019 SykeBen */
/*******************/



/* <mono> Text */
mono {
    display: inline;
    font-family: monospace;
    margin: 0px; padding: 0px;
}



/* <log> Display */
log {
    display: block;
    font-family: monospace;
    width: calc(100%-1rem); height: 12rem;
    padding: 0.5rem; margin: 0.5rem;
    background-color: #2A2A2E; color: #F8F8F8;
    border: 1px solid #3C3F41;
    overflow-y: auto;
}


/* <result> Wrapper */
result {
    display: inline-block;
    vertical-align: text-top;
}

/* <result> Display */
result rdisp {
    display: inline-block;
    font-family: monospace;
    padding: 0.5rem;
    background-color: #2A2A2E; color: #F8F8F8;
    border: 1px solid #3C3F41;
    vertical-align: middle;
}

/* <result> Output */
rdisp pre {
    margin: 0px; padding: 0px;
}



/* <un> Underline */
un { text-decoration: underline; }

/* <on> Overline */
on { text-decoration: overline; }

/* <tn> Through-Line */
tn { text-decoration: line-through; }